# Aligned equation
snippet al "Aligned equation environment, unnumbered" b
\begin{align*}
    ${0:${VISUAL}}
\end{align*}
endsnippet

snippet dm "Display math" wA
\[
    $1
\]$0
endsnippet
	
snippet ts "Tensor product symbol" w
\otimes
endsnippet
